
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav{
    background-color:rgba(0, 255, 255, 0.205);
    height: 50px;
}
.nav .logo{
    width: 50%;
    float: left;
    margin-top: 5px;
}
.nav .logo h1{
    margin-left: 20px;
    color: aliceblue;
}
.nav .data ul{
    list-style: none;
}
.nav .data ul li{
    margin-left: 100px;
    float:left;
    padding: 15px 0px 0px 10px;
    text-align: right;
}
.nav .data ul li a{
    text-decoration-line: none;
    color:rgb(1, 0, 0);
    font-size: 20px;
    font-weight:bold;
    }
.nav .data ul li a:hover{
    color: cornflowerblue;
}
.nav .data{
    width: 50%;
    float: right;
    }   

body
{
    background-color: rgb(249, 250, 249);
    background: url(bg3.jpg);
    background-size: cover;
    

}
.box
{
    height: 650px;
    width: 1400px;
    margin-top:25px;
   

   
   background-size: cover;
 
   
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
   




}
.circle
{
    height: 200px;
    width: 200px;
    background-color: rgb(94, 222, 248);
    border-width: 5px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}

.circle img
{
    height: 190px;
    width: 190px;
    background-color: rgb(167, 235, 21);
    border-width: 5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(254, 253, 253);

}
input[type=text]{
    height: 40px;
    width: 60%;
    
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    background-color: rgba(251, 195, 246, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    
}
input[type=password]{
    height: 40px;
    width: 60%;
    
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    background-color: rgba(251, 195, 246, 0.1);
    
}

label
{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 68, 68);
}
button
{
    border-radius: 30px;
    background-color: rgba(251, 195, 246, 0.1);  
   box-shadow: 0px 3px 3px 1px rgb(128, 125, 125);
   border-width: 0;
   background-color: rgb(244, 148, 191);
   
   transform: translate(1s);
   

}
button:hover{
   background-color: rgb(96, 229, 241);

}
.bg
{
    
    border: 2px solid rgb(165, 163, 163); 
    width: 40%;
    padding: 20px;
    margin-left: 29%;
    border-radius: 20px;
    background-size: cover;
    background-color: rgba(236, 175, 217, 0.505)
    

    
}
.top
{
    width: 370px;
    height: 52px;
    margin-left: 0%;
    background-color: rgba(162, 236, 235, 0.43);
    
    
    
}
.top .login
{
    width: 70%;
    margin: 2px;
    margin-top: 3px;

    
    
    background-color: rgb(175, 186, 182);
    float: left;

    width: 40%;border-radius: 50px; margin-left: 21px;height: 50px;
}
.top .sinup
{
    width: 49%;
    margin: 2px;
    float: left;
    background-color: rgb(173, 168, 177);
    width: 40%;border-radius: 50px; margin-left: 0px;height: 50px;
}